<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron first-item">
            <h2>Администраторски панел</h2>
            <p>Чрез администраторския панел на „Запази ми“ ще можете да управлявате вашите салони, вашите резервации, вашия график и много други...</p>
            <p><a class="btn btn-primary" ui-sref="Info">научете повече</a></p>
        </div>
    </div>
</div>
<div class="row text-center" ng-show="authentication.isInRole.isSalonAdmin">

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Images/scissors_hair2.png" alt="">
            <div class="caption">
                <h3>Резервации <span class="badge">{{counts.resCountForButton}}</span></h3>
                <p>От тази страница можете да управлявате вашите резервации.</p>
                <p>
                    <a ui-sref="Reservations" class="btn btn-primary">Виж</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Images/Scissors-and-Haircuts-081-0.png" alt="Човек">
            <div class="caption">
                <h3>Данни</h3>
                <p>Тук можете да персонализирате вашия салон, служители и услуги.</p>
                <p>
                    <a ui-sref="Settings" class="btn btn-primary">Виж</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Images/3d-businessman-with-busy-ca.png" alt="График">
            <div class="caption">
                <h3>График</h3>
                <p>Следете вашия график по всяко време. Управлявайте графика на вашия салон!</p>
                <p>
                    <a ui-sref="Schedule" class="btn btn-primary">Виж</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center" ng-show="authentication.isInRole.isAdmin">

    <div class="col-md-4 col-sm-8 col-md-offset-4 hero-feature">
        <div class="thumbnail">
            <img src="~/Images/users.png" alt="Потребители">
            <div class="caption">
                <h3>Потребители</h3>
                <p>От тази страница можете да управлявате потребителските акаунти.</p>
                <p>
                    <a ui-sref="Users" class="btn btn-primary">Виж</a> <a ui-sref="Info" class="btn btn-default">Научете повече</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center" ng-show="!authentication.isAuth || (authentication.isAuth && authentication.isInRole.isUser)">

    <div class="col-md-3 col-sm-6 col-md-offset-3 hero-feature">
        <div class="thumbnail">
            <img src="~/Images/login_icon.jpg" alt="Вход">
            <div class="caption">
                <h3>Вход в системата</h3>
                <p>От тази страница можете да влезете в системата, ако вече имате акаунт.</p>
                <p>
                    <a ui-sref="Login" class="btn btn-default">Вход</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Images/Registration.jpg" alt="Регистрация">
            <div class="caption">
                <h3>Регистрация</h3>
                <p>Вие сте собственик на салон? Тогава тази система е за вас! Регистрарайте се за нула време!</p>
                <p>
                    <a ui-sref="Register" class="btn btn-default">Регистрация</a>
                </p>
            </div>
        </div>
    </div>
</div>

