<div class="row first-item">
    <div class="col-lg-12">
        <div class="well well-lg">
            <h2>О неразумни</h2>
            Внимавайте вие, читатели и слушатели, роде български, които обичате и вземате присърце своя род и своето българско отечество и желаете да разберете и знаете известното за своя български род и за вашите бащи, прадеди и царе, патриарси и светии как изпърво са живели и прекарвали. За вас е потребно и полезно да знаете известното за делата на вашите бащи, както знаят всички други племена и народи своя род и език, имат история и всеки грамотен от тях знае, разказва и се гордее със своя род и език.

            Така и аз ви написах подред това, което е известно за вашия род и език. Четете и знайте, за да не бивате подигравани и укорявани от други племена и народи. Твърде много обикнах българския род и отечество и много труд употребих да събирам от различни книги и истории, докато събрах и обединих историята на българския род в тая книжка за ваша полза и похвала. Написах я за вас, които обичате своя род и българското отечество и обичате да знаете за своя род и език. Преписвайте тая историйка и платете, нека ви я препишат, които умеят да пишат, и пазете я да не изчезне!

            Но някои не обичат да знаят за своя български род, а се обръщат към чужда култура и чужд език и не се грижат за своя български език, но се учат да четат и говорят по гръцки и се срамуват да се нарекат българи. О неразумни юроде! Защо се срамуваш да се назовеш българин и не четеш, и не говориш на своя език? Или българите не са имали царство и държава? Толкова години са царували и са били славни и прочути по цялата земя и много пъти са взимали данък от силни римляни и от мъдри гърци. И царе, и крале са им давали своите царски дъщери за съпруги, за да имат мир и любов с българските царе. От целия славянски род най-славни са били българите, първо те са се нарекли царе, първо те са имали патриарх, първо те са се кръстили, най-много земя те завладели. Така от целия славянски род били най-силни и най-почитани и първите славянски светци и просияли от българския род и език, както и за това подред написах в тая история. И за това българите имат свидетелство от много истории, защото всичко е истина за българите, както вече и споменах.
        </div>
    </div>
</div>
