<div class="row first-item">
    <div class="col-sm-12">
        <div class="well" ng-hide="AlertForSalons">
            <div class="row form-inline text-center">
                <div class="form-group margin-bottom-10">
                    <label class="control-label" for="inputDtFrom">От дата:</label>
                    <p class="input-group no-margin-bottom">
                        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" id="inputDtFrom"
                               ng-model="filter.dtFrom" is-open="openedFrom" min-date="minDateFrom" max-date="maxDateFrom"
                               datepicker-options="dateOptions" close-text="Затвори" current-text="Днес" clear-text="Изчисти" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group margin-bottom-10">
                    <label class="control-label" for="inputDtTo">До дата:</label>
                    <p class="input-group no-margin-bottom">
                        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" id="inputDtTo"
                               ng-model="filter.dtTo" is-open="openedTo" min-date="filter.dtFrom" max-date="maxDateTo"
                               datepicker-options="dateOptions" close-text="Затвори" current-text="Днес" clear-text="Изчисти" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group margin-bottom-10">
                    <label class="control-label" for="inputSearch">Име:</label>
                    <input type="text" class="form-control" placeholder="Въведете име..." id="inputSearch" ng-model="filter.text" />
                </div>

            </div>
            <div class="row form-inline text-center">
                <div class="form-group margin-bottom-10">
                    <label class="control-label" for="ddlStatus">Статус:</label>
                    <select ng-model="filter.Status" id="ddlStatus" class="form-control">
                        <option selected value="">Всички...</option>
                        <option value="Waiting">Чака одобрение</option>
                        <option value="Accepted">Потвърдени</option>
                        <option value="Rejected">Отказани</option>
                        <option value="RejectedByUser">Отказани от потр.</option>
                        <option value="DidntCome">Не се явил</option>
                        <option value="Finished">Приключени</option>
                    </select>
                </div>
                <div class="form-group margin-bottom-10">
                    <label class="control-label" for="ddlSalon">Салон:</label>
                    <select ng-model="filter.SalonID" id="ddlSalon" class="form-control"
                            ng-options="salon.SalonID as salon.SalonName for salon in salonsForDdl"></select>
                </div>
                <button type="button" class="btn btn-default margin-bottom-10" ng-click="loadReservations()">Търсете</button>
            </div>
        </div>
        <alert type="warning" ng-show="AlertForSalons">
            <strong>Внимание!</strong> Все още не сте добавили нито един салон!
        </alert>
        <div class="table-container" ng-hide="isTableLoading">
            <table st-table="displayedCollection" st-safe-src="reservations" class="table table-striped table-hover table-reserve">
                <thead class="table-header">
                    <tr>
                        <th style="width: 70px;">№</th>
                        <th>Име на клиента</th>
                        <th style="width: 100px;">Дата</th>
                        <th style="width: 120px;">Час</th>
                        <th>Статус</th>
                        <th style="width: 90px;">Бр. услуги</th>
                        <th style="width: 100px;">Стойност</th>
                        <th style="width: 150px;">Телефон</th>
                        <th style="width:80px;">&nbsp;</th>

                    </tr>
                    @*<tr>
                    <th>
                        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search" />
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                    </th>
                </tr>*@
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection" ng-show="hasReservations">
                        <td>{{row.OrderID}}</td>
                        <td>{{row.FirstName + ' ' + row.LastName | uppercase}}</td>
                        <td>{{row.Date | date: 'shortDate'}}</td>
                        <td>{{row.StartTime | limitTo : 5}} - {{row.EndTime | limitTo : 5}}</td>
                        <td class="reservation-status">
                            <span class="waiting" ng-show="!row.Accepted && !row.Rejected && !row.RejectedByUser">Чака одобрение...</span>
                            <span class="accepted" ng-show="row.Accepted && !row.Finished && !row.DidntCome">Приета</span>
                            <span class="rejected" ng-show="row.Rejected">Отказана</span>
                            <span class="finished" ng-show="row.Accepted && row.Finished">Приключена</span>
                            <span class="didnt-come" ng-show="row.Accepted && row.DidntCome">Не се яви!</span>
                            <span class="rejected" ng-show="row.RejectedByUser">Анулирана от клиента</span>
                        </td>
                        <td>{{row.ServicesCount}}</td>
                        <td>{{row.TotalPrice | currency}}</td>
                        <td>{{row.Phone}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" ng-click="openModal(row.UniqueID)">
                                <span class="fa fa-info-circle"></span> Детайли
                            </button>
                        </td>
                    </tr>
                    <tr ng-hide="hasReservations">
                        <td colspan="9">
                            Няма резервации, които да удовлетворяват филтрите!
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="loading-indicator" ng-show="isTableLoading">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ReservationModal.html">
    <!-- Modal -->

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Запазен час</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover table-reserve-modal">
            <tbody>
                <tr>
                    <td class="text-bold">
                        №
                    </td>
                    <td>
                        {{order.OrderID}}
                    </td>
                </tr>
                <tr>
                    <td class="text-bold">
                        Статус
                    </td>
                    <td class="reservation-status">
                        <span class="waiting" ng-show="!order.Accepted && !order.Rejected && !order.RejectedByUser">Чака одобрение...</span>
                        <span class="accepted" ng-show="order.Accepted && !order.Finished && !order.DidntCome">Приета</span>
                        <span class="rejected" ng-show="order.Rejected">Отказана</span>
                        <span class="finished" ng-show="order.Accepted && order.Finished">Приключена</span>
                        <span class="didnt-come" ng-show="order.Accepted && order.DidntCome">Не се яви!</span>
                        <span class="rejected" ng-show="order.RejectedByUser">Анулирана от клиента</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-bold">
                        Име на клиента
                    </td>
                    <td>
                        <span class="fa" ng-class="{true:'fa-mars', false:'fa-venus'}[order.Sex == 1]"></span>
                        {{order.FirstName + ' ' + order.LastName}}
                    </td>
                </tr>
                <tr>
                    <td class="text-bold">
                        Дата и час
                    </td>
                    <td>
                        {{order.Date | date: 'shortDate'}} {{order.StartTime | limitTo: 5}} - {{order.EndTime | limitTo: 5}}
                        <a class="btn btn-info btn-sm" ui-sref="Schedule" href="#" target="_blank"><span class="fa fa-calendar"></span></a>
                        <button class="btn btn-primary btn-sm" ng-click="editingTime(); editing = !editing;"><span class="fa fa-edit"></span></button>
                        <hr class="margin-top-bottom-5" ng-show="editing" />
                        <div class="row text-center" ng-show="editing">
                            <div class="col-sm-4">
                                <p class="input-group no-margin-bottom">
                                    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" id="inputDtFrom"
                                           ng-model="order.newDate" is-open="openedFrom" min-date="minDateFrom" max-date="maxDateFrom"
                                           datepicker-options="dateOptions" close-text="Затвори" current-text="Днес" clear-text="Изчисти" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <timepicker class="margin-0-auto" ng-model="order.newStartDateTime" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success btn-sm" ng-click="saveTimeChanges(); editing = false;">
                                    <span class="fa fa-check"></span> Запази
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="editing = false;">
                                    <span class="fa fa-times"></span> Откажи
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-bold">
                        Връзка с клиента
                    </td>
                    <td>
                        {{order.Phone}}
                    </td>
                </tr>
                <tr>
                    <td class="text-bold">
                        Доп. информация
                    </td>
                    <td>
                        {{order.MoreInfo}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Служител
                                    </th>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Тип
                                    </th>
                                    <th>
                                        Времетраене
                                    </th>
                                    <th>
                                        Стойност
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detail in order.OrderDetails">
                                    <td>
                                        <span ng-hide="detail.DontCare">
                                            {{detail.FirstName + ' ' + detail.LastName}}
                                        </span>
                                        <span ng-show="detail.DontCare">
                                            Без значение
                                        </span>
                                    </td>
                                    <td>
                                        {{detail.ServiceName}}
                                    </td>
                                    <td>
                                        {{detail.ServiceType}}
                                    </td>
                                    <td>
                                        {{detail.Time | limitTo: 5}}
                                    </td>
                                    <td>
                                        {{detail.Price | currency}}
                                    </td>
                                </tr>
                               
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3">
                                        Общо:
                                    </th>
                                    <th>
                                        {{totalDetailsTime}}
                                    </th>
                                    <th>
                                        {{totalDetailsPrice | currency}}
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Затвори</button>
        <button type="button" class="btn btn-danger" ng-click="reject()" ng-show="!order.Accepted && !order.Rejected && !order.Finished && !order.DidntCome && !order.RejectedByUser">Откажи</button>
        <button type="button" class="btn btn-success" ng-click="ok()" ng-show="!order.Accepted && !order.Rejected && !order.Finished && !order.DidntCome && !order.RejectedByUser">Приеми</button>
        <button type="button" class="btn btn-danger" ng-click="didntCome()" ng-show="order.Accepted && !order.Rejected && !order.Finished && !order.DidntCome && !order.RejectedByUser">Не се явил</button>
        <button type="button" class="btn btn-success" ng-click="finished()" ng-show="order.Accepted && !order.Rejected && !order.Finished && !order.DidntCome && !order.RejectedByUser">Приключена</button>
    </div>

</script>
