<div class="row first-item">
    <div class="col-lg-12" ng-hide="isLoading">
        <div class="well">
            <alert type="warning" ng-show="AlertForSalons">Не сте добавили нито 1 салон!</alert>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-2 text-right">
                        Салон:
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="SalonID" id="ddlSalons" name="Salons" class="form-control"
                                ng-options="salon.SalonID as salon.SalonName for salon in salonsForDdl" ng-change="loadEvents()"></select>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success" ng-click="eventEdited(null)" ng-show="SalonID">
                            <span class="glyphicon glyphicon-plus"></span> Добави резервация
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center">{{ calendarTitle }}</h2>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <button class="btn btn-primary"
                            mwl-date-modifier
                            date="calendarDay"
                            decrement="calendarView">
                        Предишен
                    </button>
                    <button class="btn btn-default"
                            mwl-date-modifier
                            date="calendarDay"
                            set-to-today>
                        Днес
                    </button>
                    <button class="btn btn-primary"
                            mwl-date-modifier
                            date="calendarDay"
                            increment="calendarView">
                        Следващ
                    </button>
                </div>
            </div>
            <br class="visible-xs visible-sm">
            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'">Година</label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Месец</label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Седмица</label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Ден</label>
                </div>
            </div>
        </div>
        <br />
        <mwl-calendar events="events"
                      view="calendarView"
                      view-title="calendarTitle"
                      current-day="calendarDay"
                      on-event-click="eventEdited(calendarEvent)"
                      edit-event-html="editHTML"
                      delete-event-html="deleteHTML"
                      on-edit-event-click="eventEdited(calendarEvent)"
                      on-delete-event-click="eventDeleted(calendarEvent)"
                      auto-open="true"
                      day-view-start="06:00"
                      day-view-end="22:00"
                      day-view-split="30">
        </mwl-calendar>
    </div>
    <div class="loading-indicator" ng-show="isLoading">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<script type="text/ng-template" id="EventModal.html">
    <!-- Modal -->

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Събитие № {{event.EventID}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-hide="loadingEventForm" name="event_data"
              novalidate ng-submit="eventFormSubmit(event_data, event)" role="form" ng-show="!isLoading">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="inputFirstName">Име</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputFirstName" name="FirstName"
                           maxlength="50" required ng-model="event.FirstName" placeholder="Име на клиента">
                    <span class="text-bold text-danger"
                          ng-show="event_data.FirstName.$invalid && (!event_data.FirstName.$pristine || event_data.$submitted)">
                        Полето е задължително!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="inputLastName">Фамилия</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName" name="LastName"
                           maxlength="50" required ng-model="event.LastName" placeholder="Фамилия на клиента">
                    <span class="text-bold text-danger"
                          ng-show="event_data.LastName.$invalid && (!event_data.LastName.$pristine || event_data.$submitted)">
                        Полето е задължително!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="inputDtFrom">Начало в</label>
                <div class="col-sm-9">
                    <p class="input-group no-margin-bottom">
                        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" id="inputDtFrom" readonly="readonly"
                               ng-model="event.StartDateTime" is-open="openedFrom" max-date="maxDateFrom"
                               datepicker-options="dateOptions" close-text="Затвори" current-text="Днес" clear-text="Изчисти" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <timepicker class="margin-0-auto" ng-model="event.StartDateTime" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
                    <span class="text-bold text-danger"
                          ng-show="event_data.StartDateTime.$invalid && (!event_data.StartDateTime.$pristine || event_data.$submitted)">
                        Полето е задължително!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="inputLastName">Услуги</label>
                <div class="col-sm-9">
                    <ui-select multiple ng-model="event.Services" required name="Services" theme="bootstrap" close-on-select="true" title="Изберете услуги" on-select="selectedService($item, $model)" on-remove="selectedService($item, $model)">
                        <ui-select-match placeholder="Изберете услуга...">{{$item.ServiceName}} &lt;{{$item.ServiceTypeName}}&gt;</ui-select-match>
                        <ui-select-choices repeat="service.ServiceID as service in salonServices | propsFilter: {ServiceName: $select.search, ServiceTypeName: $select.search}">
                            <div ng-bind-html="service.ServiceName | highlight: $select.search"></div>
                            <small>
                                тип: <span ng-bind-html="service.ServiceTypeName | highlight: $select.search"></span> |
                                продължителност: {{service.Time | limitTo: 5}} | цена {{service.Price | currency}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <b>Цена: {{totalPrice | currency}} | Продължителност: {{totalTime}}</b>
                    <span class="text-bold text-danger"
                          ng-show="noServ">
                        Полето е задължително!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="ddlE">Служител</label>
                <div class="col-sm-9">
                    <select ng-model="event.EmployeeID" id="ddlE" name="ddlE" class="form-control hidden-placeholder-select"
                            ng-options="empl.EmployeeID as empl.FullName for empl in emplForDdl" required>
                        <option selected disabled value="">Моля, изберете служител...</option>

                    </select>
                    <span class="text-bold text-danger"
                          ng-show="event_data.ddlE.$invalid && (!event_data.ddlE.$pristine || event_data.$submitted)">
                        Полето е задължително!
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Запази</button>
        </form>
        <div class="loading-indicator" ng-show="isLoading">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Затвори</button>
    </div>
</script>