<div class="row first-item">
    <div class="col-sm-12">
        <div class="well text-center">
            <div ng-hide="warningMsg == ''" class="alert alert-warning">
                {{warningMsg}}
            </div>
            <form class="form-horizontal" role="form" name="login_form" ng-hide="isLoading">
                <h2>Вход в системата</h2>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputEmail">Потребителско име</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" placeholder="E-mail" name="email" data-ng-model="loginData.userName" required autofocus />
                        <span class="text-bold text-danger"
                              ng-show="login_form.email.$error.required && (!login_form.email.$pristine || login_form.$submitted)">
                            Полето е задължително!
                        </span>
                        <span class="text-bold text-danger"
                              ng-show="login_form.email.$error.email && (!login_form.email.$pristine || login_form.$submitted)">
                            Моля въведете валидна електронна поща!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPass">Парола</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" placeholder="Password" name="pass" data-ng-model="loginData.password" required />
                        <span class="text-bold text-danger"
                              ng-show="login_form.pass.$error.required && (!login_form.pass.$pristine || login_form.$submitted)">
                            Полето е задължително!
                        </span>
                        
                    </div>
                </div>
                <button class="btn btn-info" type="submit" data-ng-click="login()">Вход</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </form>
            <div class="loading-indicator" ng-show="isLoading">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
        </div>
    </div>
</div>
