<div class="row first-item">
    <div class="col-sm-12">
        <div class="well">
            <form class="form-horizontal" role="form" name="register_form" novalidate ng-hide="isLoading">
                <h2>Регистрация</h2>
                <br />
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputEmail">Потребителско име</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" placeholder="E-mail" id="inputEmail" name="email" data-ng-model="registration.userName" required autofocus />
                        <span class="text-bold text-danger"
                              ng-show="register_form.email.$error.required && (!register_form.email.$pristine || register_form.$submitted)">
                            Полето е задължително!
                        </span>
                        <span class="text-bold text-danger"
                              ng-show="register_form.email.$error.email && (!register_form.email.$pristine || register_form.$submitted)">
                            Моля въведете валидна електронна поща!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPass">Парола</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="pass" id="inputPass" placeholder="Парола" data-ng-model="registration.password" required />
                        <span class="text-bold text-danger"
                              ng-show="register_form.pass.$error.required && (!register_form.pass.$pristine || register_form.$submitted)">
                            Полето е задължително!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputConPass">Повторете паролата</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputConPass" placeholder="Потвърдете паролата" name="confirmPassword" data-ng-model="registration.confirmPassword" required>
                        <span class="text-bold text-danger"
                              ng-show="register_form.confirmPassword.$error.required && (!register_form.confirmPassword.$pristine || register_form.$submitted)">
                            Полето е задължително!
                        </span>
                    </div>
                </div>
                <button class="btn btn-info" type="submit" data-ng-click="signUp()">Регистрация</button>
                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
            </form>
            <div class="loading-indicator" ng-show="isLoading">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
        </div>
    </div>
</div>
