<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Diplomna_newEntities" connectionString="metadata=res://*/Entities.ZapaziMiDb.ZapaziMiDb.csdl|res://*/Entities.ZapaziMiDb.ZapaziMiDb.ssdl|res://*/Entities.ZapaziMiDb.ZapaziMiDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV12;initial catalog=Diplomna_new;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>